


<div class="min-h-screen bg-gray-900 py-6 flex flex-col justify-center items-center">
	<h1 class="mb-2 text-4xl text-red-600 font-extrabold uppercase">Ruby on Rails</h1>
	<h1 class="mb-12 text-3xl text-blue-500 font-light">GitHub Template</h1>
	<%= render 'rails_github_template' %>
</div>